header {
  background-image: linear-gradient(to left, rgb(18, 102, 219), rgb(26, 26, 48));
  color: rgb(255, 255, 255);
  text-align: center;

}

button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  align-self: center;
}

.col-2 {
  background-color: rgb(18, 102, 219);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

